django
djangorestframework
django-cors-headers
python-dotenv
requests
validators
beautifulsoup4
reportlab
langchain
langchain-openai
langchain-community
langchain-chroma
openai
chromadb
PyPDF2
python-docx
openpyxl
python-pptx
psycopg2-binary
